<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391513192554-7t5lg7il90fea7ipt01jlop0nbjfqeoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391513192554-7t5lg7il90fea7ipt01jlop0nbjfqeoo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391513192554-nofft3mh8rf5s1fuggvn1aq1huv87gcg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjTXLHAmdQhAmbomaFQ2d_kwFlCQzrsEw</string>
	<key>GCM_SENDER_ID</key>
	<string>391513192554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerDemo</string>
	<key>PROJECT_ID</key>
	<string>messenger-demo-b81a5</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-demo-b81a5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391513192554:ios:dd9294777d48c417a97213</string>
</dict>
</plist>